:root {
    --border-style: 5px solid white;
}

body {
    text-align: center;
    background-color: #673C4F;
    font-family: 'Press Start 2P', cursive;
}

#instruction {  
    margin:  0 6% 3rem 6%;
}

#level-title {
    font-size: 2rem;
    margin:  3rem 6% .5rem 6%;
}

#instruction, #level-title {
    color: #FEF2BF;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, .5);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn {
    padding: 7rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.20);
}

.text {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #FEF2BF;
    user-select: none;
}

.game-over {
    background-color:#FF3C38; 
    opacity: 0.8;
}

.red {
    background-color: #E76F51;
    border-radius: 0 100% 0 0;
    border-top: var(--border-style);
    border-right: var(--border-style);
}

.green {
    background-color: #2A9D8F;
    border-radius: 100% 0 0 0;
    border-top: var(--border-style);
    border-left: var(--border-style);
}

.blue {
    background-color: #4A8FE7;
    border-radius: 0 0 100% 0;
    border-bottom: var(--border-style);
    border-right: var(--border-style);
}

.yellow {
    background-color: #E4BA4E;
    border-radius: 0 0 0 100%;
    border-bottom: var(--border-style);
    border-left: var(--border-style);
}

.pressed {
    box-shadow: 0 0 20px white;
    z-index: 1;
}
